@media only screen and (max-width: 992px) {
  /* -------------------------
    styling for event handling
    -------------------------- */
  .mobile-nav {
    display: none;
    height: 100vh;
    width: 100%;
    z-index: 1;
    margin-top: -6rem;
    margin-left: auto;
    position: fixed;
    background-color: #191765;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
  }

  .mobile-nav ul li {
    padding: 1rem;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #edecff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mobile-nav ul li > svg {
    margin-left: 15rem;
  }

  .mobile-nav ul li > a {
    width: 100%;
    margin-left: 10%;
    margin-right: 20%;
  }

  .show {
    display: block;
    transition: all 1s ease-in-out;
  }

  .hide {
    display: none;
  }

  .forward-chev {
    color: #acb7c3;
    position: absolute;
  }

  .close-btn {
    color: #fff;
    max-width: 375px;
    margin-left: 60%;
    margin-top: 2rem;
  }

  .mob-bg-left {
    position: absolute;
    left: 0;
    top: 92px;
    z-index: -1;
  }

  .mob-bg-right {
    position: absolute;
    right: 0;
    top: 750.54px;
    z-index: -1;
  }

  /* -------------------------
      stylinng for mobile modal
    -------------------------- */
  .modal-container {
    max-width: 350px;
    position: absolute;
    margin: 5% auto;
  }

  .project1-popUp {
    width: 350px;
    height: 700px;
    position: absolute;
    top: 100%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: #191765;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
  }

  .project-close-btn {
    display: flex;
    padding: 2rem;
    justify-content: flex-end;
  }

  .pop-close-btn {
    cursor: pointer;
    color: #fff;
  }

  .model-content {
    margin-top: -4rem;
  }

  .model-image {
    text-align: center;
    width: 279px;
    margin-left: auto;
    margin-right: auto;
  }

  .model-text {
    color: #edecff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 279px;
  }

  .model-skills ul {
    display: flex;
    justify-content: center;
  }

  .model-btns {
    margin-top: -2rem;
  }

  .model-title {
    padding: 0 0 0 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
  }

  /* style form span error message */
  .formMsg {
    margin-left: 2.5rem !important;
  }
}

@media only screen and (min-width: 992px) {
  /* -------------------------
    styling for event handling
  -------------------------- */

  .mobile-nav {
    display: none;
  }

  .container {
    max-width: 1156px;
    margin: auto;
  }

  /* -----------------------
    header styles
    ------------------------- */

  .mobile-menu-icon {
    display: none;
  }

  .desktop-menu,
  ul {
    display: flex;
  }

  ul li {
    padding: 32px;
  }

  .description,
  .devider,
  .skills-container {
    max-width: 448px;
    margin: auto;
  }

  .devider {
    width: 1156px;
    margin-top: 66px;
  }

  .desktop-devider {
    display: block;
    max-width: 1156px;
  }

  .down-icon-top {
    display: block;
  }

  .skills-container {
    display: flex;
  }

  .skills {
    display: flex;
    justify-content: center;
  }

  .skill {
    margin-right: 40px;
  }

  .skill--info ul {
    display: grid;
  }

  .skill--info ul li {
    font-size: 14.6667px;
    padding: 0;
  }

  .skill-title {
    font-size: 18px;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .socials {
    display: flex;
    margin-top: 106px;
    margin-bottom: 238px;
    justify-content: space-around;
    align-items: center;
  }

  /* -----------------------
    Project section styles
  ------------------------- */

  .projects-heading {
    margin-left: 0;
  }

  .project-card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 96px;
  }

  .card-img img {
    width: 684px;
    height: 448px;
  }

  .card-info {
    width: auto;
    margin: 24px 0 -24px 24px;
  }

  .card-info p {
    width: 448px;
  }

  .desktop-card-btn {
    margin-left: 24px;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .about-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 78px;
  }

  .card-skills-list ul {
    display: flex;
    justify-content: start;
  }

  .about-btns a {
    padding: 0 24px 0 24px !important;
  }

  /* -----------------------
    Contact section styles
  ------------------------- */

  .contact-us {
    max-width: 684px;
    margin: 228px auto;
  }

  .footer-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-container {
    margin-top: -1rem;
  }

  .bottom-border {
    display: none;
  }

  .footer-devider {
    position: absolute;
    left: 0;
    max-width: 100%;
  }

  /* -----------------------
    Desktop background svgs
  ------------------------- */

  .bg-svg {
    display: none;
  }

  .bg-svg-desktop {
    display: block;
    position: absolute;
    left: 69px;
    top: 237px;
  }

  .skills-bg-svg {
    display: none;
  }

  .bg-svg-desktop-right {
    display: block;
    position: absolute;
    left: 1543px;
    top: 546px;
  }

  /* ----------------------------
    Turn display off for mobile
  ------------------------------- */

  .card-bg-img-1,
  .card-bg-img-2,
  .card-bg-img-3,
  .card-bg-img-4 {
    display: none;
  }

  /* ----------------------------
    Turn display on for desktop
  ------------------------------- */

  .card-bg-img--1,
  .card-bg-img--2,
  .card-bg-img--3,
  .card-bg-img--4 {
    display: block;
  }

  .card-bg-img--1 {
    position: absolute;
    left: -132px;
    top: 1479.12px;
  }

  .card-bg-img--2 {
    position: absolute;
    right: 0;
    top: 2257.74px;
  }

  .card-bg-img--3 {
    position: absolute;
    left: -41px;
    top: 2848px;
  }

  .card-bg-img--4 {
    position: absolute;
    right: 0;
    top: 3100px;
  }

  .modal-container {
    width: 2000px;
    position: absolute;
  }

  .project1-popUp {
    width: 1156px;
    height: 1000px;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: #191765;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
  }

  .project-close-btn {
    display: flex;
    padding: 2rem;
    justify-content: flex-end;
  }

  .pop-close-btn {
    cursor: pointer;
    color: #fff;
  }

  .model-content {
    margin-top: -4rem;
  }

  .model-image {
    text-align: center;
  }

  .model-text {
    color: #edecff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 684px;
  }

  .model-skills ul {
    display: flex;
    justify-content: center;
  }

  .model-btns {
    margin-top: -2rem;
  }

  .model-title {
    padding: 0 0 0 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    color: #fff;
  }
}
