.nav-container {
  color: #fff;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 25px;
}

.bg-svg {
  position: absolute;
  left: 0;
  top: 0.5rem;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.hero-section-container {
  color: #fff;
  text-align: center;
}

.title {
  color: #7d73fc;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
}

.sub-title {
  color: #edecff;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-top: -2rem;
}

.description {
  padding: 2rem 2rem 0 2rem;
  color: #c8c8d4;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
}

.devider {
  border: 1px solid #646369;
  width: 327px;
  left: 0;
  top: 33px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px auto;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}

.skill {
  padding-right: 4rem;
  width: 70px;
  line-height: 2rem;
}

.skill-title {
  color: #9490ff;
  font-size: 12px;
}

.skill--info {
  color: #f5f5ff;
  font-size: 15px;
  width: 100px !important;
}

.skills-bg-svg {
  position: absolute;
  right: 0;
  top: 555px;
}

ul li {
  text-decoration: none;
  list-style: none;
  margin-left: -2.5rem;
}

.social-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-icon > li {
  padding: 28px;
}
