.white {
  color: #fff;
}

.center {
  text-align: center;
}

.nav-container {
  color: #fff;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 25px;
}

.desktop-menu {
  display: none;
}

.bg-svg {
  position: absolute;
  left: 0;
  top: 0.5rem;
  display: block;
}

a {
  color: #edecff !important;
  text-decoration: none;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.logo {
  transition: all 1s ease-in-out;
}

.logo:hover {
  transform: rotate(360deg) scale(1.5);
}

.hero-section-container {
  color: #fff;
  text-align: center;
}

.title {
  color: #7d73fc;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
}

.sub-title {
  color: #edecff;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-top: -2rem;
}

.description {
  padding: 2rem 2rem 0 2rem;
  color: #c8c8d4;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
}

.devider {
  border: 1px solid #646369;
  width: 327px;
  left: 0;
  top: 33px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 24px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}

.skills {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.skill {
  padding-right: 4rem;
  width: 70px;
  line-height: 2rem;
}

.skill-title {
  color: #9490ff;
  font-size: 12px;
}

.skill--info {
  color: #f5f5ff;
  font-size: 15px;
  width: 100px !important;
}

.skills-bg-svg {
  display: block;
  position: absolute;
  right: 0;
  top: 555px;
}

.bg-svg-desktop-right {
  display: none;
}

.card-bg-img--1,
.card-bg-img--2,
.card-bg-img--3,
.card-bg-img--4 {
  display: none;
}

ul li {
  text-decoration: none;
  list-style: none;
  margin-left: -2.5rem;
}

.social-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-icon {
  padding: 28px 28px 0 28px;
}

.down-items-container {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.down-icon-top {
  display: none;
}

.desktop-devider {
  display: none;
}

.down-text h5 {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #a2a3ae;
  margin: 0 12px;
}

/* STYLING PROJECTS SECTION */

.projects-container {
  display: grid;
}

.projects-heading {
  color: #9490ff;
  text-align: left;
  font-size: 30px;
  line-height: 62px;
  margin: 24px;
}

.project-card {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  grid-column-start: 1;
  grid-column-end: 5;
}

.card-img {
  text-align: center;
  transition: all 1s ease-in-out;
  color: #fff;
}

.card-img:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: -24px 24px;
}

.card-text {
  color: #dcdce8;
  font-size: 20px;
  line-height: 28px;
  margin: 24px 24px;
}

.card-skills-list > ul {
  display: flex;
  margin-top: -24px;
}

.card-skills-list > ul > li {
  padding: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skill-divider {
  margin-left: 1rem;
}

.card-btn {
  background-color: #7d73fc;
  width: 89px;
  height: 48px;
  margin: -24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edecff;
  font-size: small;
  letter-spacing: 3%;
  border: 0;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

a.card-btn:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

a.card-btn:active {
  background-color: #5e42d7;
}

a.card-btn:disabled {
  background-color: #2a2b33;
}

.card-bg-img-1 {
  position: absolute;
  top: 1590.71px;
  z-index: -1;
}

.card-bg-img-2 {
  position: absolute;
  top: 2337.23px;
  right: 0;
  z-index: -1;
}

.card-bg-img-3 {
  position: absolute;
  top: 3090px;
  z-index: -1;
}

.card-bg-img-4 {
  position: absolute;
  top: 3820px;
  right: 0;
  z-index: -1;
}

/* Styling the About Section */

.about {
  width: 100%;
}

.about-container {
  padding: 24px;
  background: rgba(255, 255, 255, 0.16);
  margin: 51px 24px;
  border: 1px solid #fff;
}

.about-title {
  font-size: 30px;
  line-height: 32px;
  margin: 24px 12px;
  color: #fff;
}

.about-img > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  color: #fff;
}

.about-text {
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}

.about-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-icon {
  padding: 2px 2px 0 10px;
}

.about-btn {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  width: auto;
  height: 48px;
  margin-top: 2rem;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
}

.about-skills {
  font-size: 15px !important;
  margin-left: -24px;
}

.about-skills > ul > li :first-child {
  padding-right: 4rem;
}

.ml {
  padding-right: 1rem;
}

a.about-btn:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

a.about-btn:active {
  background-color: #5e42d7;
}

a.about-btn:disabled {
  background-color: #2a2b33;
}

.about-bg-img-1 {
  position: absolute;
  top: 4100px;
  z-index: -1;
  filter: blur(40px);
  left: -4rem;
}

.about-bg-img-2 {
  position: absolute;
  top: 4700px;
  z-index: -1;
  filter: blur(60px);
}

.contact-heading {
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
}

.contact-text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
  margin: 24px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 14px;
  margin: 14px auto;
  width: 80%;
  box-sizing: border-box;
}

textarea {
  font-family: "robot", sans-serif;
  text-align: left;
  color: #a2a3ae;
}

.contact-btn {
  background-color: #7d73fc;
  width: 160px;
  height: 48px;
  padding: 12px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edecff;
  font-size: small;
  letter-spacing: 3%;
  border: 0;
}

.contact-btn:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.contact-devider {
  border: 1px solid #646369;
  width: 100%;
}

.bottom-border {
  width: 100%;
  text-align: center;
}

.svg-border {
  width: 50%;
  margin: 27px 8px auto;
  height: 5px;
  border-radius: 10px;
  text-align: center;
}

.bg-svg-desktop {
  display: none;
}
