html,
body {
  background-color: #191765;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

ul li {
  text-decoration: none;
  list-style: none;
  margin-left: -2.5rem;
}
